@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* declaring global variables */
:root {
    --font-color: #5f030f;
    --hover-color: #2e2b2b;
    --start-color: #bdb7b7;
    --gridDimension: 1;
    --mywidth: 70vw; /*vw = 1% of the viewport */
    --myheight: 35vw;
}

/* simple reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    max-height: 650px;
    margin: auto;
    overflow: hidden;
    padding: 1rem 1rem;
    text-align: center;
}

.header {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--font-color);
}

.header h1 {
    margin-bottom: 1rem;
}

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 25px;
}

button {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#gridBox {
    display: grid;
    grid-template-columns: repeat(var(--gridDimension), 1fr);
    grid-template-rows: repeat(var(--gridDimension), 1fr);
    width: var(--mywidth);
    height: var(--myheight);
    border: 2px solid black;
    margin: auto;
}

.gridItem {
    border: 1px solid black;
    display: inline-block;
    background-color: var(--start-color);
}


