@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* declaring global variables */
:root {
    --font-color: #5f030f;
    --highlight-color: #2e2b2b;
    --start-color: #bdb7b7;
}

/* simple reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    max-height: 700px;
    margin: auto;
    overflow: hidden;
    padding: 2rem 2rem;
    text-align: center;
}

.header {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--font-color);
}

.header h1 {
    margin-bottom: 1rem;
}

.btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 25px;
}

button {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: var(--start-color);
    border: 1px solid black;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}
